beautifulsoup4==4.15.0
geojson-rewind==1.2.1
lxml==6.1.1
munch==4.0.0
Pillow==12.3.0
pylzma==0.6.1
pyshp==2.1.2
PyYAML==6.0.3
requests==2.34.2
scipy==1.17.1
Shapely==1.6.4.post2
Unidecode==1.4.0
urllib3==1.26.5
xlrd==1.2.0
